@model IEnumerable<Hotel.WEB.Additional.Log>

    <div class="container">
        <h4>Logs</h4>
        <hr />

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EventId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LogLevel)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Message)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var log in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => log.EventId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => log.LogLevel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => log.Message)
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
